/* Variable CSS */
:root {
    --header-height: 3.5rem;

    /* ==== Colors ==== */
    /* hsl: hue, saturation,. lightness */
    
    /* 

        purple: hsl(250, 66%, 75%);
        blue: hsl(207, 90%, 72%);
        pink: hsl(356, 66%, 75%);
        teal: hsl(174, 63%, 62%);

    */

    --first-hue:250;
    --sat: 66%;
    --lig: 75%;
    --second-hue: 219;

    --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
    --first-color-alt: hsl(var(--first-hue), var(--sat), 71%); /* -4% */
    --title-color: hsl(var(--second-hue), 15%, 95%);
    --text-color: hsl(var(--second-hue), 8%, 75%);
    --text-color-light: hsl(var(--second-hue), 4%, 55%);
    --body-color: hsl(var(--second-hue), 48%, 8%);
    --container-color: hsl(var(--second-hue), 32%, 12%);

    /* ===== Font And Typhography */
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    --tinny-font-size: 0.625rem;

    /* Font Weight */
    --font-medium: 500;
    --font-semibold: 600;

    /* Z Index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Responsive Typhography */
@media screen and (min-width: 968px) {
    :root {
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --biggest-font-size: 2.5rem;
        --small-font-size: 0.875px;
        --smaller-font-size: 0.813rem;
    }
}

/* ==== Base ==== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
body {
    background-color: var(--body-color);
    color: var(--text-color);
    transition: 1s; /* For Light Mode Animation */
}
h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semibold);
} 
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
    border: none;
    outline: none;
}
img {
    max-width: 100%;
    height: auto;
}

/* ==== Themes ==== */
.change-theme {
    font-size: 1.25rem;
    cursor: pointer;
    transition: 0.5s;
}
.change-theme:hover {
    color: var(--first-color);
}

/* ==== Variable Light Themes ==== */
body.light-theme {
    --title-color: hsl(var(--second-hue), 15%, 15%);
    --text-color: hsl(var(--second-hue), 8%, 35%);
    --body-color: hsl(var(--second-hue), 10%, 95%);
    /* --body-color: hsl(var(--second-hue), 100%, 99%); */
    --container-color: #fff;
    

}

/* 
    Color change in same parts of the website, in light theme 
*/
.light-theme .scroll-header {
    box-shadow: 0 7px 10px hsla(0, 0%, 0%, 0.15);
    transition: 0.4s;
}
.light-theme .nav_menu {
    background-color: hsla(var(--second-hue), 65%, 90%, 0.8);
    /* backdrop-filter: blur(10px); */
}
.light-theme .section_subtitle {
    color: var(--text-color);
}
.light-theme .home_social-link {
    box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 80%, 0.8);
}
.light-theme .home_social::after,
.light-theme .footer_social-link {
    background-color: var(--title-color);
}
.light-theme .home_social-link,
.light-theme .home_scroll,
.light-theme .button,
.light-theme .button:hover,
.light-theme .active_work,
.light-theme .footer_title,
.light-theme .footer_link,
.light-theme .footer_copy {
    color: var(--title-color);
}
.light-theme .about_box {
    box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, 0.1);
}
.light-theme .skills_content,
.light-theme .services_card,
.light-theme .work_card,
.light-theme .testimonial_card,
.light-theme .contact_card {
    box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, 0.1);
}
.light-theme::-webkit-scrollbar {
    background-color: hsl(var(--second-hue), 8%, 66%);
}
.light-theme::-webkit-scrollbar-thumb {
    background-color: hsl(var(--second-hue), 8%, 44%);
}
.light-theme::-webkit-scrollbar:hover {
    background-color: hsl(var(--second-hue), 8%, 66%);
}




/* ==== Reuseable CSS Classes ==== */
.container {
    max-width: 968px;
    margin: 0 1rem;
}
.grid {
    display: grid;
    gap: 1.25rem;
}
.main {
    overflow: hidden;
}
.section {
    padding: 4.5rem 0 1rem;
}
.section_title,
.section_subtitle {
    text-align: center;
}
.section_title {
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: 2rem;
}
.section_subtitle {
    display: block;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

/* ===== Header & Nav ===== */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: 1s; /* For Light Mode Animation */
    
}
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* LOGO */
.nav_logo {
    color: var(--first-color);
    font-weight: var(--font-medium);
    transition: 0.4s;
    font-size: 1.3rem;
}
.nav_logo:hover {
    color: var(--first-color-alt);
}
/* MENU */
.nav_menu {
    position: fixed;
    bottom: 1rem;
    background-color: hsla(var(--second-hue), 32%, 16%, 0.8);
    width: 90%;
    border-radius: 4rem;
    padding: 1rem 2.25rem;
    backdrop-filter: blur(5px);
    transition: 1s; /* For Light Mode Animation */
}
.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_link {
    color: var(--text-color);
    font-size: 1.25rem;
    padding: 0.4rem;
    display: flex;
    border-radius: 5rem;
}

/* Active Link */
.active-link {
    background: linear-gradient(180deg,
    hsla(var(--first-hue), var(--sat), var(--lig), 1),
    hsla(var(--first-hue), var(--sat), var(--lig), 0.2)
    );
    box-shadow: 0 0 16px hsla(hsla(var(--first-hue), var(--sat), var(--lig), 0.4));
    color: var(--title-color);
}

/* Change Background Header */
.scroll-header {
    box-shadow: 0 4px 4px hsla(0, 0%, -4%, 0.3);
}

/* ============ Main ============ */
/* ===== HOME ===== */
.home {
    margin-bottom: 4.5rem;
}
.home_container {
    position: relative;
    row-gap: 4.5rem;
}
.home_data {
    text-align: center;
}
.home_greeting,
.home_education {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}
.home_greeting {
    display: block;
    color: var(--title-color);
    margin-bottom: 0.25rem;
}
.home_education {
    color: var(--text-color);
    margin-bottom: 2.5rem;
}
.home_name {
    font-size: var(--biggest-font-size);
}
.home_img {
    width: 195px;
    /* margin-left: 23px; */
}       
.home_handle {
    justify-self: center;
    width: 200px;
    height: 355px;
    background: linear-gradient(180deg,
        hsla(var(--first-hue), var(--sat), var(--lig), 1),
        hsla(var(--first-hue), var(--sat), var(--lig), .2)
    );
    border-radius: 10rem 10rem 1rem 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}
.home_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.home_social,
.home_scroll {
    position: absolute;
}
.home_social {
    display: grid;
    bottom: 7rem;
    left: 0;
    row-gap: 1rem;
}
.home_social-link {
    width: max-content;
    background-color: var(--container-color);
    color: var(--first-color);
    padding: 0.25rem;
    border-radius: 0.25rem;
    display: flex;
    font-size: 1rem;
    transition: 0.2s;
}
.home_social-link:hover {
    background-color: var(--first-color);
    color: #fff;
}

.home_social:after {
    content: "";
    width: 32px;
    height: 2px;
    background-color: var(--first-color);
    transform: rotate(90deg) translate(16px, 4px);
}
.home_scroll {
    color: var(--first-color);
    right: -1.5rem;
    bottom: 9rem;
    display: grid;
    row-gap: 2.25rem;
    justify-items: center;
}
.home_scroll-icon {
    font-size: 1.25rem;
}
.home_scroll-name {
    font-size: var(--smaller-font-size);
    transform: rotate(90deg);
}
/* ===== BUTTON ===== */
.button {
    display: inline-block;
    background-color: var(--first-color-alt);
    color: var(--body-color);
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    font-weight: var(--font-medium);
    transition: 0.4s;
    border: 1px solid var(--first-color);
}
.button:hover {
    background-color: transparent;
    color: var(--first-color);
}
.button-ghost {
    background-color: transparent;
    color: var(--first-color);
}
.button-ghost:hover {
    background-color: var(--first-color-alt);
    color: var(--body-color);
}
/* ===== ABOUT ===== */
.about_container {
    row-gap: 2.5rem;
}
.about_img {
    width: 220px;
    border-radius: 1.5rem;
    justify-self: center;
}
.about_data {
    text-align: center;
}
.about_info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.7rem;
    margin-bottom: 2rem;
}
.about_box {
    background-color: var(--container-color);
    border-radius: 0.75rem;
    padding: 0.75rem 0.5rem;
}
.about_icon {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: var(--first-color);
}
.about_title {
    font-size: var(--small-font-size);
}
.about_subtitle {
    font-size: var(--tinny-font-size);
}
.about_description {
    margin: 2rem 1.5rem;
}
/* ===== SKILLS ==== */
.skills_container {
    row-gap: 2rem;
    padding-top: 1rem;
}
.skills_content {
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 1.25rem;
}
.skills_title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color);
    text-align: center;
    margin-bottom: 1.5rem;
}
.skills_box {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}
.skills_group {
    display: grid;
    align-content: flex-start;
    row-gap: 1rem;
}
.skills_data {
    display: flex;
    column-gap: 0.5rem;
}
.skills .bxs-badge-check{
    font-size: 1rem;
    color: var(--first-color);
}
.skills_name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}
.skills_level {
    font-size: var(--tinny-font-size);
}

/* ===== SERVICES ===== */
.services_container {

    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding-top: 1rem;
}
.services_card {
    background-color: var(--container-color);
    padding: 3rem 1.5rem 1.5rem;
    border-radius: 1rem;
}
.services_title {
    font-size: var(--h3-font-size);
    margin-bottom: 2.5rem;
}
.services_button {
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: 0.35rem;
    cursor: pointer;
}
.services_button:hover .services_icon {
    transform: translateX(0.3rem);
}
.services_icon {
    font-size: 1rem;
    transition: 0.4s;
}

/* Services Modal */
.services_modal {
    position: fixed;
    inset: 0;
    background-color: hsla(var(--second-hue), 28%, 16%, 0.7);
    padding: 2rem 1rem;
    display: grid;
    place-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.9s;
    z-index: var(--z-modal);

}
.services_modal-content {
    position: relative;
    background-color: var(--body-color);
    padding: 4.5rem 1.5rem 2.5rem;
    border-radius: 1.5rem;
}
.services_modal-title,
.services_modal-description {
    text-align: center;
}
.services_modal-title {
    font-size: var(--h3-font-size);
    color: var(--first-color);
    margin-bottom: 1rem;
}
.services_modal-description {
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
}
.services_modal-list {
    display: grid;
    row-gap: 0.75rem;
}
.services_modal-item {
    display: flex;
    align-items: flex-start;
    column-gap: 0.5rem;
}
.services_modal-icon {
    font-size: 1.5rem;
    color: var(--first-color);
}
.services_modal-info {
    font-size: var(--small-font-size);
}
.services_modal-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
}
/* Active Modal */
.active-modal {
    opacity: 1;
    visibility: visible;
}

/* ====== WORK ======= */
.work_filters {
    display: flex;
    justify-content: center;align-items: center;
    column-gap: 0.75rem;
    margin-bottom: 2rem;
}
.work_item {
    cursor: pointer;
    color: var(--title-color);
    padding: 0.25rem 0.75rem;
    font-weight: var(--font-medium);
    border-radius: 0.5rem;
}
.work_container {
    padding-top: 1rem;
}
.work_card {
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: 1rem;
}
.work_img {
    border-radius: 1rem;
    margin-bottom: 0.75rem;
}
.work_title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 0.25rem;
}
.work_button {
    width: max-content;
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}
.work_button:hover .work_icon {
    transform: translateX(0.35rem);
}
.work_icon {
    font-size: 1rem;
    transition: 0.4s;
}

/* Active Item Work */
.active_work {
    background-color: var(--first-color);
    color: var(--body-color);
}

/* ======= TESTIMONIALS ======= */
.testimonial_card {
    background-color: var(--container-color);
    padding: 1.25rem 1.5rem;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
    text-align: center;
}
.testimonial_img {
    width: 85px;
    border-radius: 3rem;
    margin-bottom: 0.5rem;
}
.testimonial_name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 0.25rem;
}
.testimonial_description {
    font-size: var(--small-font-size);
}
/* Swiper Class */
.swiper-pagination-bullet {
    background-color: var(--text-color-light);
}
.swiper-pagination-bullet-active {
    background-color: var(--first-color);
}
/* ======= CONTACT ======= */
.contact_container {    
    row-gap: 3rem;
    padding-bottom: 3rem;
}
.contact_title {
    text-align: center;
    font-size: var(--h3-font-size);
    margin-bottom: 1.5rem;
}
.contact_info {
    display: grid;
    gap: 1rem;
}
.contact_card {
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: 0.75rem;
    text-align: center;
}
.contact_card-icon {
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: 0.25rem;
}
.contact_card-title,
.contact_card-data {
    font-size: var(--small-font-size);
}
.contact_card-title {
    font-weight: var(--font-medium);
}
.contact_card-data {
    display: block;
    margin: 0.01rem 0 0.75rem;
}
.contact_button {
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.25rem;
}
.contact_button:hover .contact_button-icon {
    transform: translateX(0.3rem);
}
.contact_button-icon {
    font-size: 1rem;
    transition:0.4s;
}
.contact_form-div {
    position: relative;
    margin-bottom: 2rem;
    height: 4rem;
}
.contact_form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    border: 2px solid var(--text-color-light);
    color: var(--text-color);
    padding: 1.5rem;
    border-radius: 0.75rem;
    z-index: 0;
}
.contact_form-tag {
    position: absolute;
    top: -0.9rem;
    left: 1.25rem;
    z-index: 2;
    padding: 0.3rem;
    background-color: var(--body-color);
    font-size: var(--smaller-font-size);
}
.contact_form-area {
    height: 11rem;
}
.contact_form-area textarea {
    resize: none;
}
/* ======= FOOTER ======= */
.footer {
    background-color:var(--first-color);
}
.footer_container {
    padding: 1.2rem 0 6rem;
}
.footer_title,
a.footer_link {
    color: var(--body-color);
}
.footer_title {
    text-align: center;
    margin-bottom: 0.4rem;
}
.footer_list {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 1.3rem;
}
.footer_social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}
.footer_social-link {
    background-color: var(--body-color);
    color: var(--first-color);
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    display: inline-flex;
}
.footer_copy {
    display: block;
    margin-top: 1.5rem;
    color: var(--container-color);
    text-align: center;
    font-size: var(--smaller-font-size);
}

/* ======= SCROLL BAR ======= */
::-webkit-scrollbar {
    width: 0.6rem;
    border-radius: 0.5rem;
    background-color: hsl(var(--second-hue), 8%, 25%);
}
::-webkit-scrollbar-thumb {
    background-color: hsl(var(--second-hue), 8%, 60%);
    border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--second-hue), 8%, 80%);
}

/* Responsive Breakpoint */
/* For small devices */
@media screen and (max-width: 320px){
    .nav_menu {
        padding: 1rem 1.5rem;
    }
    .home {
        margin-top: 0.5rem;
        margin-bottom: 2.5rem;
    }
    .home_container {
        row-gap: 3.5rem;
    }
    .home_name {
        font-size: var(--h1-font-size);
    }
    .home_education {
        margin-bottom: 1.5rem;
    }
    .home_buttons {
        flex-direction: column;
        gap: 1rem;
    }
    .button {
        padding: 0.4rem 0.7rem;
        font-size: var(--small-font-size);
    }
    .home_handle {
        width: 150px;
        height: 280px;
    }
    .home_img {
        width: 145px;
    }
    .home_social {
        bottom: 5rem;
    }
    .home_scroll {
        bottom: 7rem;
    }
    .about_img {
        width: 170px;
    }
    .about_info {
        grid-template-columns: repeat(2, 1fr);
    }
    .about_box:last-child {
        grid-area: 2 / 1 / 3 / 3;
    }
    .about_description {
        font-size: var(--normal-font-size);
    }
    .skills_box {
        column-gap: 1rem;
    }
    .skills_name {
        font-size: var(--small-font-size);
    }
    .services_container {
        grid-template-columns: 145px;
        justify-content: center;
    }
    .work_item {
        font-size: var(--small-font-size);
    }
    .work_filters {
        column-gap: 0.05rem;
    }
}

